@charset "UTF-8";

.font_test {
	font-family: "Kokoro"; /* フォントの種類指定 */
}

.size_test {
	font-size: 20px; /* 文字サイズ指定 */
}

.font_color {
	color: #a52a2a;
}

.size_test2 {
	font-size: 30px;
}
.size_test3 {
	font-size: 15px;
}